.rocketList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.row {
  width: 100%;
  gap: 20px;
  padding: 10px;
}

.title {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.badge {
  float: left;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: bold;
  background: #39f;
  color: #fff;
  padding: 2px;
  border-radius: 3px;
  margin-right: 6px;
}

.image {
  width: 200px;
  height: 145px;
  float: left;
  padding-right: 20px;
}

button {
  margin-top: 10px;
  padding: 10px;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 2px;
  color: #fff;
  background: #06c;
  border: none;
  cursor: pointer;
}

.cancel {
  margin-top: 10px;
  padding: 10px;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 2px;
  color: grey;
  background: #fff;
  border: 1px solid grey;
  cursor: pointer;
}

button:hover {
  background-color: #004c99;
}

.cancel:hover {
  background-color: grey;
  color: #fff;
}
